extends layout

block links
  link(rel='stylesheet', href='/css/googlemap.css')
  link(rel='stylesheet', href='/css/index.css')

block scripts
  script(src='https://maps.googleapis.com/maps/api/js?sensor=false')
  script(src='/js/underscore.js')
  script(src='/js/angular-google-maps.js')
  script(src='/js/googlemap.js')

block content
  header
      div.container
        div.title
          a.title-text(href="/") Guardian Angel
        div.register
          a.register-text(href="/register") Register
    div.map-container
        div(ng-app="googleMapApp")
          div(ng-controller="googleMapCTRL")
            google-map.googlemap(center="map.center", zoom="map.zoom", draggable="true")
              markers(models="map.markers", coords="'self'", labelContent="'title'", labelAnchor="22 0", icon="'icon'")
        div.top-shadow
        div.bottom-shadow
    div.hero
    div.container
      h2 Let us keep you safe
      p Guardian Angel is a platform designed to give you the best danger detection and prevention so that you can be more at peace.
  div.subhero
    div.col1
      img(src="/img/danger@2x.png")
      h2 Prevention
      p Guardian Angel detects your danger level using the sensors built into Google Glass, combined with our custom algorithms to prevent unknowingly being in a hostile environment.
    div.col2
      img(src="/img/potential@2x.png")
      h2 Security
      p Learn about what areas are the most dangerous before you get there.  Using live updates from every customer, you can see the safety of areas around the world.
    div.col3
      img(src="/img/safe@2x.png")
      h2 Safety
      p A quick voice command will alert nearby citizens, police, family, and friends of your immediate danger.  Send real time updates of your status to the authorities.
  div.hero.api-list
    div.col1
      a(href="http://www.android.com")
        img.api(src="/img/android_logo.png")
    div.col2
      a(href="http://angularjs.org/")
        img.api(src="/img/angularjs_logo.png")
    div.col3
      a(href="https://www.firebase.com/")
        img.api(src="/img/firebase_logo.png")
    div.col4
      a(href="http://www.twilio.com/")
        img.api(src="/img/twilio_logo.png")
    div.col5
      a(href="http://sendgrid.com/")
        img.api(src="/img/sendgrid_logo.png")
    div.col6
      a(href="http://www.mashery.com")
        img.api(src="/img/mashery_logo.png")
  footer
    div.container
      p All Rights Reserved.
