extends layout

block links
  link(rel='stylesheet', href='/css/googlemap.css')
  link(rel='stylesheet', href='/css/index.css')

block scripts
  script(src='https://maps.googleapis.com/maps/api/js?sensor=false')
  script(src='/js/underscore.js')
  script(src='/js/angular-google-maps.js')
  script(src='/js/googlemap.js')

block content
  div.hero
    div.container
      h1 Guardian Angel
      h2 Let us keep you safe
      div(ng-app="googleMapApp")
        div(ng-controller="googleMapCTRL")
          google-map.googlemap(center="map.center", zoom="map.zoom", draggable="true")
            markers(models="map.markers", coords="'self'", labelContent="'title'", labelAnchor="22 0")
