@import "bourbon/bourbon";
@import "neat/neat";
@import "bitters/bitters";

.hero {
  width: 100%;
  height: 600px;
  background: url('/img/crossword.png');
  background-repeat: repeat;
}

.container {
  text-align: center;
  width: 960px;
}

.angular-google-map-container { 
  height: 480px; 
  width: 100%;
  margin: 15px auto;
-webkit-box-shadow: 0 0 0 6px #BFB99F;
box-shadow: 0 0 0 6px #BFB99F;
}
